# Large data files (not versioned)
data/grace/*.nc
data/gldas/**/*.nc
data/era5/*.nc
data/modis/*.nc
data/modis/*.tif
data/cmip6/**/*.nc
data/static/*.tif
data/static/*.shp
data/static/*.dbf
data/static/*.prj
data/static/*.shx
data/dgre/*.csv

# Regenerated outputs
outputs/processed/
outputs/models/
outputs/logs/

# Keep results and figures
!outputs/results/.gitkeep
!outputs/figures/.gitkeep

# Python
__pycache__/
*.py[cod]
.env
.venv
env/
venv/
*.egg-info/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
