numpy>=1.26
pandas>=2.2
scipy>=1.13
xarray>=2024.2
netcdf4>=1.6
cartopy>=0.23
rasterio>=1.3
geopandas>=0.14
scikit-learn>=1.4
xgboost>=2.0
statsmodels>=0.14
tensorflow>=2.16
keras>=3.3
matplotlib>=3.8
seaborn>=0.13
dask>=2024.2
tqdm>=4.66
pyyaml>=6.0
joblib>=1.3
optuna>=3.6
pymannkendall>=1.4
cdsapi>=0.6
PyGithub>=2.3
